@import '../../scss/variables';

.login {
  display: flex;
  flex: 0 0 80%;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;

  @media (min-width: 500px) and (max-width: 799px) {
    flex: 0 0 50%;
  }

  @media (min-width: 800px) {
    flex: 0 0 30%;
  }

  &__form {
    &__header,
    &__input {
      // override css from semantic-ui.
      margin-bottom: $custom-margin-bottom !important;
    }

    &__submit {
      display: flex;
      justify-content: center;

      > button {
        background-color: $base-blue !important;
        color: white !important;
        width: 150px;
      }
    }
  }
}
