// IMPROVEMENT: inject file in global scope using webpack and prependData.

// Colors.
$base-blue: #094d84;
$light-grey: #d5d5d5;
$dark-grey: #737373;

// Custom margins.
$custom-margin-bottom: 2.5rem;
